.square {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid $main-color; // then delete
  font-size: 3rem;
}

.winnerSquares {
  background-color: $main-color;
  border: 1px solid white;
  color: white;
}
